<div>
  <div class="row">
    <div class="col-sm-12 btn btn-primary"></div>
  </div>
</div>
<hr style="background-color: black" />
<div class="row">
  <div class="slick-wrapper">
    <!-- You can now use your library component in app.component.html -->
    <ngx-slick-carousel
      class="carousel"
      #slickModal="slick-carousel"
      [config]="slideConfig"
    >
      <div ngxSlickItem *ngFor="let image of images" class="slide">
        <image-root
          [data]="image"
          (calcDistance)="handleCalcDistance($event)"
        ></image-root>
      </div>
    </ngx-slick-carousel>
  </div>
</div>
<button class="export-button" (click)="handleExportCsv()">Export CSV</button>
